<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/bootstrap.css">
        <link type="text/css" rel="stylesheet" media="all" href="/font-awesome/css/font-awesome.css">
        <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/main.css">

        <!-- The almighty jQuery plugin -->
        <script src="jquery/jquery.js"></script>

        <!-- Twitter bootstrap plugins -->
        <script src="bootstrap-sass/js/modal.js"></script>
        <script src="bootstrap-sass/js/transition.js"></script>
        
        <!-- Other plugins -->
        <script src="socket.io/socket.io.js"></script>
        <script src="twig.js/twig.js"></script>
        <script src="jquery.cookie/jquery.cookie.js"></script>
        
        <!-- Internal scripts -->
        <script src="javascripts/client.js"></script>
        <script src="javascripts/utils.js"></script>
        <script src="javascripts/twig.js"></script>
        <script src="javascripts/modal.js"></script>
        <script src="javascripts/login.js"></script>
        <script src="javascripts/init.js"></script>

    </head>
    <body>
    <div id="people"></div>
    </body>
</html>
